$color-mode-type: data;

.left {
  width: 55%;

  h2 {
    margin: 30px auto 10px;
    font-weight: 600;
  }

  @media (max-width: $bp-medium) {
    width: 90%;
  }

  #upgrade-select {
    display: flex;
    justify-content: center;
    gap: 4px;
  }

  .upgrades-pane {
    width: 100%;
    margin-top: 5px;
    overflow-y: auto;

    table-layout: fixed;
    border-collapse: collapse;

    td {
      font-size: 1.05rem;
      padding: 5px 0;
    }

    tbody th {
      font-size: 1.1rem;
    }

    .upgrade {
      border-width: 2px;
      border-color: $body-color;
      padding: 3px;
      margin-bottom: 2px;

      &-header-field {
        font-weight: 600;
      }

      .upg {
        &-name {
          width: 8rem;
        }

        &-owned {
          width: 4.5rem;
        }

        &-count {
          width: 4rem;
        }

        &-cost {
          width: 3rem;
        }

        &-buy {
          width: 3.5rem;
        }

        &-active {
          width: 4rem;
        }
      }

      button {
        padding: 10px 5px;
      }
    }
  }
}
